*.log
*.mp4
/folder1
cypress/results/specs/*
cypress/videos/
cypress/reports
cypress/screenshots
cypress/cucumber-json/
node_modules/
yarn.lock
allure-results/
allure-report/
cypress/fixtures/testdata.json
reports/cucumber-report
mochawesome/
reports/
